<app-navbar></app-navbar>
<main>
    <div class="container py-4">  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <app-listado-repartidores (eventoRepartidorSeleccionado)="cargarEventoRepartidorRecibido($event)"></app-listado-repartidores>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <app-detalle-repartidor [repartidorSeleccionado]="repartidorSeleccionado"></app-detalle-repartidor>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <app-pais-repartidor [repartidorSeleccionado]="repartidorSeleccionado"></app-pais-repartidor>
          </div>
        </div>
      </div>
    </div>
  </main>